:root {
    --primary-color: #ffc222;
    --secondary-color: #00a149;
    --body-text: #1e1d23;
    --header-height: 56px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--body-text);
}

.logo {
    width: 80px;
}

#header {
    height: var(--header-height);
    margin-bottom: 40px;
    background-color: var(--primary-color);
}

#footer {
    margin-top: 40px;
}

.menu .card-img-top {
    cursor: pointer;
    scale: 0.9;
    transition: all 0.2s ease-in-out;
}

.menu .card-img-top:hover {
    scale: 1;
}

/* header */
#navbarSupportedContent {
    gap: 10px;
}

/* select menu */
#drinkTypeGroup {
    display: none;
}