:root {
    --primary-color: #ffc222;
    --secondary-color: #00a149;
    --body-text: #1e1d23;
    --header-height: 56px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--body-text);
}

.logo {
    width: 80px;
}

#header {
    height: var(--header-height);
    margin-bottom: 40px;
    background-color: var(--primary-color);
}

#footer {
    margin-top: 40px;
}

#menu .card-img-top {
    cursor: pointer;
    scale: 0.9;
    transition: all 0.2s ease-in-out;
}

#menu .card-img-top:hover {
    scale: 1;
}

/* header */
#navbarSupportedContent {
    gap: 10px;
}

/* select menu */
#drinkTypeGroup {
    display: none;
}

/* LOADING */
#submitMenuItemButton.loading .lds-ring {
    display: inline-block;
}

.lds-ring {
    display: none;
    position: relative;
    width: 20px;
    height: 20px; 
}
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 4px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }